h2 {
  width: 160px;
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #388ef0;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* 出演番組 find */
.article{
  height: 100%;
  width: 80%;
  background: #EEEEEE;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.article-overview{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
}

.article-overview a{
  display: block;
  height: 85%;
}

.article-title{
  height: 60%;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 2px #040880;
  white-space: normal;
}

.article-content{
  height: 60%;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.article-content-detail{
  height: 100%;
  width: 100%;
  word-break: break-all;
}

/* 出演番組 find ここまで */

.top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.content_explain{
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  height: 10vh;
  width: 80%;
  font-size: xx-large;
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.show {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 30px;
}

.show-overview {
  width: 80%;
  height: 100%;
  background-color: #c8d1de;
}

.comment_post {
  display: flex;
  justify-content: center;
}

.container {
  margin: 20px 0;
  padding: 30px;
  width: 80%;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btm {
  text-align: center;
}

.second-logo:hover{
	transition: 0.2s;
	transform: scale(1.5, 1.5);
	z-index:1;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}

.comments div {
  font-size: larger;
} 

form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}